/* All styles from this file have been removed.
  The styles for the artist grid in the library are 
  correctly located in LibraryGridMenu.css.
  The component Artists.js only uses SongGrid.css.
  This file is imported but its content was not used.
*/