.banner-section {
  display: flex;
  flex-direction: row;
  gap:8%;
  align-items: center;
  background: linear-gradient(to right, #12121a,#1e1e2f);
  padding: 0% 1%;
  border-radius: 12px;
  color: white;
  min-height: 150px;
  justify-content: center;
  align-items: center;
}

.banner-text h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80vw;
  margin-left: 8%;
}

.banner-text p {
  font-size: 1.3rem;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60vw;
}

.listen-btn {
  font-size: 0.8rem;
  width: 100%;
  background-color: #6c63ff;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.banner-img {
  max-width: 220px;
  border-radius: 12px;
  width: 50%;
  height: 50%;
  object-fit: cover;
  margin-left: 40px;
}

@media (max-width: 768px) {
  .banner-section {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 20px;
    max-height: 20px;
    justify-content: center;
    overflow-y:auto;
  }


  .banner-img {
    max-width: 100%; 
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    display: inline;
  }

  .banner-text h1 {
    font-size: 2rem;
    max-width: 100%; 
    text-overflow: ellipsis;


  }

  .banner-text p {
    font-size: 1rem;
    max-width: 100%;
  }
}

@media(max-width:500px){
  .banner-img {
    display: none;
  }

  .banner-section {
    display: flex;
    flex-direction: column;
  }

}