.banner-section {
  display: flex;
  gap:8%;
  align-items: center;
  background: linear-gradient(to right, #12121a,#1e1e2f);
  padding: 1.5%;
  border-radius: 12px;
  color: white;
}

.banner-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.banner-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.listen-btn {
  background-color: #6c63ff;
  color: white;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.banner-img {
  max-width: 500px;
  border-radius: 12px;
}