.page-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  height: 100%; 
  box-sizing: border-box;  
}

.page-head {
  color: #6fb0e4;
  font-size: 15px;
  font-weight: 700;
  margin:1% 0%;
  flex-shrink: 0; 
}
.page-head h1{
  margin: 0px;
}

.playlist-grid {
  display: flex;
  flex-direction: row;
  gap: 3%;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: calc(100% - 60px); 
}


@media (max-width: 768px) {
  .page-container {
    height: auto; 
  }

  .playlist-grid {
    flex-direction: column; 
    height: auto; 
    overflow-y: visible; 
  }
}