
.playlist {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 0.5%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 6px;
  height: 100%; 
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.playlist-head {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 10px;
  border-bottom: 1px solid #333;
  background-color: #000000;
  box-sizing: border-box;
  flex-shrink: 0; 
  text-transform: capitalize;
}

.playlist-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  scrollbar-width: none;
  width: 100%;
  background-color: #212121;
  flex-grow: 1;
  min-height: 0;
}

.song-row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  border-bottom: 1px solid #222;
  color: white;
}

.song-row:hover{
  transition: transform 0.3s ease;
  background-color: #31314e;
}

.song-row img {
  width: 50px; 
  height: 50px; 
  object-fit: cover;
  border-radius: 4px;
}

.song-row div:nth-child(2) {
  flex: 1;
  font-size: 0.95rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-row span {
  display: block;
  font-size: 0.8rem;
  color: #aaa;
  margin-top: 2px;
}

.heart-icon{
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
  margin-left: auto; 
  padding: 0 10px;
}

.heart-icon:hover{
  color: white;
}

.heart-icon.liked {
  color: #1ed760;
}

@media (max-width: 768px) {
  .playlist {
    max-width: 100%;
    width: 100%;
    height: 60vh; 
  }
}