html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.login-page {
  display: flex;
  height: 97vh;
  width: 96.5%;
  font-family: "Poppins", sans-serif;
  overflow:hidden;
  border-style: solid;
  border-width: 10px 25px;
  border-image: linear-gradient(135deg, #ca2a7a, #7e1868) 1;
}

.login-left {
  flex: 1;
  position: relative;
  background: linear-gradient(135deg, #a855f7, #6b21a8);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-image-text {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem;
}

.login-image-text span {
  color: #ffb6f9;
}

.login-right {
  flex: 0.8;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 5rem;
  box-shadow: 0 0 25px rgba(120, 40, 200, 0.2);
  overflow: hidden;
}

.login-logo {
  width: 70px;
  height: 70px;
  background: linear-gradient(135deg, #a855f7, #6b21a8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
}

.music-icon {
  color: white;
  font-size: 30px;
}

.login-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ff1493;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 80%;
  position: relative;
  margin: 0 auto;
}


.login-form label {
  font-size: 1rem;
  color: #040404;
  margin-bottom: 0.3rem;
  display: block;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background: #f9f9f9;
}

.password-box {
  position: relative;
}

.switch-password {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.login-btn {
  background: linear-gradient(135deg, #ff1493, #9b0c58);
  box-shadow: 0 0 15px rgba(255, 105, 180, 0.6);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  justify-self: center;
  margin-top:3%;
  margin-bottom:4%;
  width:105%;
}

.login-btn:hover {
  background: linear-gradient(135deg, #d35996, #c2367c);
}

.signup{
  text-align: center;
  font-size: 1rem;
  margin-top:2rem;
  color: #ff1493;
  cursor: pointer;
  display: inline;
}

.dontexist{
  text-align: center;
  font-size: 1rem;
  margin-top:20px;
}


@media (max-width: 768px) {
  .login-page {
    width: 100%;
    height: 100vh;
    border: none;
    padding: 0;
  }
  
  .login-left {
    display: none; 
  }

  .login-right {
    flex: 1;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .login-form {
    max-width: 100%;
  }

  .login-btn {
    width: 100%;
  }
}