.container {
  position: relative;
  display: inline-block;
}


.avatar {
  font-size: 40px !important; 
  color: #c0c0c0; 
  cursor: pointer;
  transition: color 0.3s ease;
}

.avatar:hover {
  color: white;
}

.menu {
  position: absolute;
  top: 50px; 
  right: 0;
  background-color: #282828;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  z-index: 1002;
  overflow: hidden;
  min-width: 150px;
}

.logoutBtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
  padding: 12px 16px;
  width: 100%;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: #3e3e3e;
}