.grid-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1px;
  margin-right: 2%;
  justify-content: space-between;
  margin-top: 2%;
}

.grid-name{
  color:white;
  font-size: 1.7rem;
  margin-left: 25px;
}

.see-all {
  color: #a259ff;
  font-weight: 500;
  font-size: 0.95rem;
  cursor: pointer;
}

.see-all:hover {
  color: #af7df2;
  text-decoration: underline;
}

.grid-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  overflow: hidden;
  margin-top: 0;
}

.arrow-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.arrow-icon:active {
  transform: scale(1.2);
}

.song-grid {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 0 20px;
  color: white;
  scroll-behavior: smooth;
  scrollbar-width: none;
  flex-grow: 1;
  margin: 15px 0px;
}

.song-grid::-webkit-scrollbar {
  display: none;
}

.song-tile {
  display: block;
  min-width: 10%;
  background-color: #1e1e2f;
  padding: 8px;
  border-radius: 12px;
  text-align: center;
  font-size: 1rem;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.song-tile:hover{
  background: linear-gradient(155deg, #24224f, #2f2b79, #27264d, #2f2b79);
}

.song-tile:active{
  transform: scale(1.05) translateY(3px);
  transition: transform 0.1s ease;
}

/*.song-tile {
  flex: 0 0 140px;
  background: linear-gradient(155deg, #24224f, #2f2b79, #27264d, #2f2b79);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px;
  border-radius: 6px;
  color: white;
  text-align: center;
}
*/

.song-tile img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 4px;
}

.song div {
  display: block;
  font-size: 0.95rem;
  font-weight: 500;
  margin-top: 5px;
}

.song-tile span {
  display: block;
  font-size: 0.8rem;
  color: #aaa;
  margin-top: 2px;
}