.top-header {
  display: flex;
  gap: 50px;
  align-items: center;
  background-color: #0f151f;
  color: white;
  padding: 1.5% 2.5%;
  position: fixed;
  top: 0;
  left: 5%;
  width: 95%; 
  height: 70px; 
  box-sizing: border-box; 
  z-index: 1000;
}

.header-left {
  flex: 1;
}

.header-left h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.header-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.search-wrapper {
  position: relative;
  display: flex;
  width: 70%;
}

.search-input {
  width: 100%; 
  padding: 3px 14px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  box-shadow: none;
  background-color: #2a2a3d;
  color: white;
  font-size: 15px;
}

.search-lens{
  width: 8%;
  background-color: #3d3b78;
  border-radius: 0px 20px 20px 0px;
  padding: 1%;
  min-width: 40px; 
}

.search-results {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%; 
  background-color: #2a2a3d;
  border: 1px solid #3d3b78;
  border-top: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  max-height: 300px;
  overflow-y: auto;
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-results li span {
  color: #b3b3b3;
  font-size: 0.9em;
}

.search-results li:hover {
  background-color: #3d3b78;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Align right on desktop */
  gap: 12px;
}

.header-btn {
  background-color: #3f3f5a;
  width: 110px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: linear-gradient(155deg, #27264d, #3d3891, #27264d);
}

.header-btn:hover {
  background-color: #6c63ff;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
  .top-header {
    left: 0;
    width: 100%;
    height: auto; /* Allow header to grow */
    flex-wrap: wrap; /* Allow items to wrap */
    gap: 15px;
    padding: 15px;
  }

  .header-left {
    flex-basis: 100%; /* Full width */
    text-align: center;
  }
  
  .header-left h2 {
    font-size: 2rem;
  }

  .header-center {
    flex-basis: 100%; /* Full width */
    order: 3; /* Move search bar to the bottom */
  }

  .search-wrapper {
    width: 100%;
  }

  .header-right {
    flex-basis: 100%; /* Full width */
    order: 2; /* Move buttons/profile to middle */
    justify-content: center; /* Center buttons */
  }
}