.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #121212;
  color: white;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.page-body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.audio-player {
  position: sticky;
  bottom: 0;
  background-color: #181818;
  padding: 10px;
  border-top: 1px solid #282828;
}
