.App {
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.page-body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.audio-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  padding: 10px 20px;
  border-top: 1px solid #282828;
}

.song-info {
  display: flex;
  align-items: center;
}

.song-info img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 10px;
}

.song-details span {
  font-size: 0.9rem;
  color: #b3b3b3;
}
